.App {
  display: flex;
  flex: 1;
  text-align: center;
  flex-direction: column;
  padding: 5px;
  background-image: linear-gradient(#fffffe, #fff9b1);
  font-family: "Times New Roman", Times, serif;
}

.Header {
  display: flex;
  flex: 1;
  align-self: center;
  text-align: center;
  flex-direction: row;
}

.page1 {
  display: flex;
  width: 100%;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap-reverse;
}
.page2 {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
}
.footer {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
  background-color: red;
  margin: 10px;
  padding: 10px;  
  flex-wrap: wrap;
}
.footer-componente{
  display: flex;
  justify-content: flex-start;
  padding: 10px
}
.footer-componente2{
  display: flex;  
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px
}
.footer-componente3{
  display: flex;  
  justify-content: space-around;
  padding: 10px

}